@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

html,
body {
   height: 100%;
   /* height: max-content; */
}

html {
   font-size: 16px;
}

body {
   line-height: 1;
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
      linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* ------------------------------ */

.main {
   max-width: 582px;
   margin: 0px auto;
   padding: 225px 0px 225px 0px;
}
.popup {
   text-align: center;
   border-radius: 10px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   background: #fffefe;
}
.form {
   padding: 72px 95px 91px 93px;
}
h1 {
   color: #000;
   font-size: 36px;
   font-weight: 700;
   line-height: 49px;
}
p {
   display: inline-block;
   color: rgb(102, 102, 102);
   font-size: 18px;
   font-weight: 400;
   line-height: 25px;
}
a {
   color: rgb(8, 159, 224);
   font-size: 18px;
   font-weight: 400;
   line-height: 25px;
}
input {
   min-height: 45px;
}
input::placeholder {
   color: rgb(153, 153, 153);
   font-style: italic;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
}

.conditions {
   color: rgb(102, 102, 102);
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
}

.headers {
   margin: 0px 0px 47px 0px;
}
.headers__title {
   margin: 0px 0px 5px 0px;
}

.headers__link {
   margin: 0px 0px 0px 6px;
}
.form__items input {
   border-radius: 5px;
   background: rgb(245, 245, 245);
   border: none;
   width: 100%;
   padding: 9px 0px 9px 11px;
}
#name {
   border-radius: 5px 0px 0px 5px;
}
#surname {
   border-radius: 0px 5px 5px 0px;
}
.form__item {
   margin: 0px 0px 22px 0px;
}
.form__item_name {
   display: flex;
   column-gap: 1px;
}
.form__button {
   font-family: 'Open Sans', sans-serif;
   width: 100%;
   border-radius: 5px;
   background: rgb(8, 159, 224);
   border: none;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 400;
   line-height: 25px;
   text-align: center;
   padding: 9px 0px 9px 0px;
   margin: 0px 0px 22px 0px;
   position: relative;
}
.form__button img {
   position: absolute;
   top: 10px;
   right: 24px;
}
.form__conditions {
   display: flex;
   align-items: center;
   column-gap: 4px;
}

.conditions__link {
   font-size: 14px;
   color: #089fe0;
   margin: 0px 0px 0px 5px;
}
.conditions__input {
   min-height: 20px;
}
