@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

html,
body {
   height: 100%;
}

html {
   /* font-size: 16px; */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

body {
   line-height: 1;
   color: var(--color-text);
   font-family: 'Inter', sans-serif;
   background: var(--color-bg);
   font-style: normal;
   font-weight: 400;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

:root {
   --color-bg: #fafafa;
   --color-footer: #1a1d25;
   --color-text-black: #000;
   --color-text-white: #fafafa;
   --color-text-light: rgba(78, 93, 124, 0.5);
   --color-text-cards: #4e5d7c;
   --color-divider: rgba(78, 93, 124, 0.08);
   --layout-width: 1392px;
   --border-8: 8px;
   --color-primary: #357efe;
   --color-benefit-percent: #1abc9c;
   --color-benefit-currency: #ffc736;
}

/* ------------------------------ */

[class*='__container'] {
   max-width: var(--layout-width);
   box-sizing: content-box;
   padding: 0px 24px;
   margin: 0px auto;
}

.title {
   font-weight: 600;
   font-size: 48px;
   line-height: 120%;
   text-align: center;
}
.divider {
   background-color: var(--color-divider);
   width: 100%;
   height: 1px;
   margin: 0px 0px 16px 0px;
}

.rates {
}
.rates__container {
}
.rates__title {
   margin: 0px 0px 24px 0px;
}

.rates__text {
   font-weight: 500;
   font-size: 17px;
   line-height: 140%;
   text-align: center;
   color: var(--color-text-light);
   margin: 0px 0px 40px 0px;
}
.cards {
   display: grid;
   grid-template-columns: repeat(3, 369px);
   gap: 24px;
   grid-auto-rows: auto;
}
.card {
   box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.16);
   border-radius: var(--border-8);
   padding: 93px 40px 48px 40px;
}
.card_active {
   background-color: var(--color-primary);
}
.card__title {
   font-weight: 800;
   font-size: 32px;
   line-height: 120%;
   color: var(--color-text);
   margin: 0px 0px 16px 0px;
}
.card__title_active {
   color: var(--color-bg);
}
.card__text {
   font-weight: 500;
   font-size: 17px;
   line-height: 140%;
   color: var(--color-text-light);
   margin: 0px 0px 50px 0px;
}
.card__text_active {
   color: rgba(255, 255, 255, 0.6);
}
.card__body {
   margin: 0px 0px 16px 0px;
}
.body-card {
   display: grid;
   grid-template-columns: 1fr 110px;
   grid-template-rows: repeat(2, auto);
   font-weight: 500;
   font-size: 17px;
   line-height: 120%;
   color: var(--color-text-cards);
}
.body-card_active {
   color: var(--color-bg);
}

.body-card__currency {
   background-color: var(--color-benefit-currency);
   padding: 8px 16px;
   margin: 0px 0px 0px -16px;
   color: var(--color-bg);
   border-radius: var(--border-8);
   font-weight: 700;
   font-size: 17px;
   line-height: 120%;
}
.card__button {
   background-color: var(--color-primary);
   color: var(--color-bg);
   margin: 24px 0px 0px 0px;
}
.button {
   font-family: 'Inter', sans-serif;
   padding: 12px 0px;
   border-radius: 47px;
   font-weight: 800;
   font-size: 17px;
   line-height: 140%;
   text-align: center;
   width: 100%;
}

.button_active {
   color: var(--color-primary);
   background-color: var(--color-bg);
}
